<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'user_panel' %}" class="panel-link active">اطلاعات کاربری</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'user_basket' %}" class="panel-link">سبد خرید</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'edit_user_panel' %}" class="panel-link">ویرایش اطلاعات</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'change_password' %}" class="panel-link">تغییر کلمه عبور</a>
    </li>
</ul>