{% extends 'shared/_layout.html' %}


{% block title %}
    تیم ما
{% endblock %}


{% block content %}
    <div class="cs_height_100 cs_height_lg_80"></div>
    <section>
        <div class="container">
            <div class="row cs_gap_y_35">
                {% for team in teams %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="cs_team cs_style_1">
                            {% if team.image %}
                            	<img style="height: 300px; width: 270px" src="{{ team.image.url }}" alt="Team">
                            {% else %}
                                <img style="height: 300px; width: 270px" src="/assets/img/pngkey.com-blank-face-png-9886269.png" alt="Team">
                            {% endif %}
                            <div class="cs_team_info">
                                <h2 class="cs_fs_29">{{ team.name }}</h2>
                                <p class="mb-0">{{ team.job }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <div class="cs_height_100 cs_height_lg_80"></div>
{% endblock %}
