{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load render_partial %}

{% block title %}
    محصولات
{% endblock %}


{% block content %}
    <div class="cs_height_100 cs_height_lg_70"></div>
    <div class="container">
        <div class="cs_brands cs_style_1 wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.2s"
             style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInDown;">
            {% render_partial 'product_module.views.product_main_category_component' %}
        </div>
    </div>
    <div class="cs_height_60 cs_height_lg_50"></div>
    <div class="cs_section_heading cs_style_1 cs_type_3 text-center">
        <div class="container">
            <p class="cs_section_subtitle cs_accent_color cs_fs_21 mb-0 wow fadeInLeft" data-wow-duration="0.8s"
               data-wow-delay="0.2s"
               style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                خرید کنید</p>
            <div class="cs_height_20 cs_height_lg_10"></div>
            <h2 class="cs_section_title cs_fs_68 mb-0">محصولات ما</h2>
        </div>
    </div>
    <div class="cs_height_125 cs_height_lg_50"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="cs_shop_sidebar">
                    <div class="cs_shop_sidebar_widget">
                        <form action="{% url 'search' %}" method="post" class="cs_shop_search">
                            {% csrf_token %}
                            <input name="search_input" class="cs_shop_search_input" type="text">
                            <input type="submit" value="جست و جو" class="search-btn">
                        </form>
                    </div>
                    <div class="cs_shop_sidebar_widget">
                        <h3 class="cs_shop_sidebar_widget_title">دسته بندی ها</h3>
                        {% render_partial 'product_module.views.product_category_component' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="cs_height_0 cs_height_lg_60"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="cs_product_card cs_style_1">
                                <div class="cs_product_thumb">
                                    {% if product.off %}
                                        <div class="text-center off-style">
                                            <p class="cs_bold color-white"> 🎊 تخفیف خورده 🎊 </p>
                                        </div>
                                    {% endif %}
                                    <img src="{{ product.image.url }}" alt="product" style="width: 100%; height: 250px">
                                    <div class="cs_product_overlay"></div>
                                    <div class="cs_card_btns">
                                        <a href="{% url 'product_detail' slug=product.slug %}">
                                            <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 0.5C6 0.5 1.73 3.61 0 8C1.73 12.39 6 15.5 11 15.5C16 15.5 20.27 12.39 22 8C20.27 3.61 16 0.5 11 0.5ZM11 13C8.24 13 6 10.76 6 8C6 5.24 8.24 3 11 3C13.76 3 16 5.24 16 8C16 10.76 13.76 13 11 13ZM11 5C9.34 5 8 6.34 8 8C8 9.66 9.34 11 11 11C12.66 11 14 9.66 14 8C14 6.34 12.66 5 11 5Z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="cs_product_info">
                                    {% if product.warranty %}
                                        <div style="text-align: center; margin-bottom: 30px">
                                            <span class="cs_bold"
                                                  style="background-color: #1944fd; padding: 4px; border-radius: 20px; color: white">دارای {{ product.warranty_time }} سال گارانتی</span>
                                        </div>
                                    {% endif %}
                                    <h2 class="cs_product_title">
                                        <a href="{% url 'product_detail' slug=product.slug %}">{{ product.title }}</a>
                                    </h2>
                                    <p>شرکت : <span class="cs_bold">{{ product.brand }}</span></p>
                                    {% if product.stalk %}
                                        <p>پایه : <span class="cs_bold">{{ product.stalk }}</span></p>
                                    {% endif %}
                                    {% if product.off %}
                                        <p class="cs_product_price">قیمت اصلی
                                            :
                                            <del>
                                                <span class="color-red">{{ product.price|three_digits_currency }} </span>
                                            </del>

                                            <span class="cs_bold margin-right">{{ product.prc_price }} %</span>

                                        </p>
                                        <p class="cs_product_price cs_bold"> قیمت تخفیف خورده
                                            :
                                            <span class="color-blue">{{ product.off_price|three_digits_currency }}</span>
                                        </p>
                                    {% else %}
                                        <p class="cs_product_price cs_bold">قیمت
                                            : {{ product.price|three_digits_currency }}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="cs_height_55 cs_height_lg_25"></div>
                        </div>
                    {% endfor %}

                </div>
                <ul class="cs_pagination_box cs_white_color cs_mp0">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}"
                               class="cs_pagination_item cs_center hover_blue">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="size-6" width="22">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z"></path>
                                </svg>
                            </a>
                        </li>
                    {% endif %}

                    {% for pageNumber in paginator.page_range %}
                        <li>
                            <a class="cs_pagination_item cs_center {% if page_obj.number == pageNumber %} active {% endif %}"
                               href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="cs_pagination_item cs_center hover_blue">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="size-6" width="22">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z"></path>
                                </svg>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="cs_height_150 cs_height_lg_80"></div>
{% endblock %}
